/*
* -- PURE FORM STYLES --
* Style the form inputs and labels
*/

/* Custom button colors */
.button-submit {
    width: 100%;
}

.button-plot {
    background: #1F8DD6; /*Blue*/
    width: 90%;
}

.button-data {
    background: #39B54A; /*Green*/
    width: 90%;
}

.button-grid {
    background: #E4A91F; /*Orange*/
    width: 90%;
}

.button-steering {
    background: #03AAAA; /*Teal*/
    width: 90%;
}

.button-error {
    background: #Ef3E3E; /*Red*/
    width: 600px;
}

.button-log {
    background: #03AAAA; /*Teal*/
    width: 600px;
}

.download-buttons {
    width: 600px;
}

.error-log-buttons {
    width: 600px;
}

.pure-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
}

.pure-form input[type] {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    margin-bottom: 1em;
    width: auto;
}

.select2-disabled {
    background: #39B54A;
    color: #353f36;
}

h2,
h3 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    color: #39B54A;
}

select {
    width: auto;
    /*left: 50%;*/
    margin: 0 auto;
}

label {
    font-weight: 400;
    color: #39B54A;
}

.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    top: 10%;
    height: auto;
    width: 100%;
    z-index: 2;
    background: #000000;
}

.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
    color: #39B54A;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 2;

    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    background: #222222;
}
