# Spectrum Site Configuration File
# @author Joe Gibson, Tancredi Carli
#
# Format:
#   [O] Observable Name
#       [D] Display Name, Path to Data Steering
#           [G] Display Name, Path to Grid Steering
#           [G] Display Name 2, Path to Grid Steering 2
#           ...
#       [D] Display Name 2, Path to Data Steering 2
#           [G] Display Name, Path to Grid Steering
#           ...
#       ...
#   ...

[O] Inclusive Z
    [D] ATLAS 2010 Inclusive Z Pt ee, Data/Zincl/atlas/atlas_2010_inclZpt_ee_born.txt
        [G] ATLAS 2010 Inclusive Z Pt ee - Sherpa, Grids/Zincl/atlas/sherpa/atlas_2010_inclZpt_ee.txt

    [D] ATLAS 2010 Inclusive Z Pt mm, Data/Zincl/atlas/atlas_2010_inclZpt_mm_born.txt
        [G] ATLAS 2010 Inclusive Z Pt mm - Sherpa, Grids/Zincl/atlas/sherpa/atlas_2010_inclZpt_mm.txt

[O] Inclusive Jets

    #R04

    [D] ATLAS 2011 Inclusive Jet Pt R04 ETA1, Data/jet/atlas/incljets2011/atlas_2011_jet_antiktr04_incljetpt_eta1.txt
        [G] ATLAS 2011 Inclusive Jet Pt R04 ETA1 - NLOJet, Grids/jet/atlas/incljets2011/nlojet/atlas_2011_jet_antiktr04_incljetpt_eta1.txt

    [D] ATLAS 2011 Inclusive Jet Pt R04 ETA2, Data/jet/atlas/incljets2011/atlas_2011_jet_antiktr04_incljetpt_eta2.txt
        [G] ATLAS 2011 Inclusive Jet Pt R04 ETA2 - NLOJet, Grids/jet/atlas/incljets2011/nlojet/atlas_2011_jet_antiktr04_incljetpt_eta2.txt

    [D] ATLAS 2011 Inclusive Jet Pt R04 ETA3, Data/jet/atlas/incljets2011/atlas_2011_jet_antiktr04_incljetpt_eta3.txt
        [G] ATLAS 2011 Inclusive Jet Pt R04 ETA3 - NLOJet, Grids/jet/atlas/incljets2011/nlojet/atlas_2011_jet_antiktr04_incljetpt_eta3.txt

    [D] ATLAS 2011 Inclusive Jet Pt R04 ETA4, Data/jet/atlas/incljets2011/atlas_2011_jet_antiktr04_incljetpt_eta4.txt
        [G] ATLAS 2011 Inclusive Jet Pt R04 ETA4 - NLOJet, Grids/jet/atlas/incljets2011/nlojet/atlas_2011_jet_antiktr04_incljetpt_eta4.txt

    [D] ATLAS 2011 Inclusive Jet Pt R04 ETA5, Data/jet/atlas/incljets2011/atlas_2011_jet_antiktr04_incljetpt_eta5.txt
        [G] ATLAS 2011 Inclusive Jet Pt R04 ETA5 - NLOJet, Grids/jet/atlas/incljets2011/nlojet/atlas_2011_jet_antiktr04_incljetpt_eta5.txt

    [D] ATLAS 2011 Inclusive Jet Pt R04 ETA6, Data/jet/atlas/incljets2011/atlas_2011_jet_antiktr04_incljetpt_eta6.txt
        [G] ATLAS 2011 Inclusive Jet Pt R04 ETA6 - NLOJet, Grids/jet/atlas/incljets2011/nlojet/atlas_2011_jet_antiktr04_incljetpt_eta6.txt


    #R06
    [D] ATLAS 2011 Inclusive Jet Pt R06 ETA1, Data/jet/atlas/incljets2011/atlas_2011_jet_antiktr06_incljetpt_eta1.txt
        [G] ATLAS 2011 Inclusive Jet Pt R06 ETA1 - NLOJet, Grids/jet/atlas/incljets2011/nlojet/atlas_2011_jet_antiktr06_incljetpt_eta1.txt

    [D] ATLAS 2011 Inclusive Jet Pt R06 ETA2, Data/jet/atlas/incljets2011/atlas_2011_jet_antiktr06_incljetpt_eta2.txt
        [G] ATLAS 2011 Inclusive Jet Pt R06 ETA2 - NLOJet, Grids/jet/atlas/incljets2011/nlojet/atlas_2011_jet_antiktr06_incljetpt_eta2.txt

    [D] ATLAS 2011 Inclusive Jet Pt R06 ETA3, Data/jet/atlas/incljets2011/atlas_2011_jet_antiktr06_incljetpt_eta3.txt
        [G] ATLAS 2011 Inclusive Jet Pt R06 ETA3 - NLOJet, Grids/jet/atlas/incljets2011/nlojet/atlas_2011_jet_antiktr06_incljetpt_eta3.txt

    [D] ATLAS 2011 Inclusive Jet Pt R06 ETA4, Data/jet/atlas/incljets2011/atlas_2011_jet_antiktr06_incljetpt_eta4.txt
        [G] ATLAS 2011 Inclusive Jet Pt R06 ETA4 - NLOJet, Grids/jet/atlas/incljets2011/nlojet/atlas_2011_jet_antiktr06_incljetpt_eta4.txt

    [D] ATLAS 2011 Inclusive Jet Pt R06 ETA5, Data/jet/atlas/incljets2011/atlas_2011_jet_antiktr06_incljetpt_eta5.txt
        [G] ATLAS 2011 Inclusive Jet Pt R06 ETA5 - NLOJet, Grids/jet/atlas/incljets2011/nlojet/atlas_2011_jet_antiktr06_incljetpt_eta5.txt

    [D] ATLAS 2011 Inclusive Jet Pt R06 ETA6, Data/jet/atlas/incljets2011/atlas_2011_jet_antiktr06_incljetpt_eta6.txt
        [G] ATLAS 2011 Inclusive Jet Pt R06 ETA6 - NLOJet, Grids/jet/atlas/incljets2011/nlojet/atlas_2011_jet_antiktr06_incljetpt_eta1.txt


    #2.76TeV R04
    [D] ATLAS 2011 2.76TeV Inclusive Jet Pt R04 ETA1, Data/jet/atlas/incljets2011_2p76TeV/atlas_2011_2p76TeV_jet_antiktr04_incljetpt_eta1.txt
        [G] ATLAS 2011 2.76TeV Inclusive Jet Pt R04 ETA1 - NLOJet, Grids/jet/atlas/incljets2011_2p76TeV/nlojet/atlas_2011_2p76TeV_jet_antiktr04_incljetpt_eta1.txt

    [D] ATLAS 2011 2.76TeV Inclusive Jet Pt R04 ETA2, Data/jet/atlas/incljets2011_2p76TeV/atlas_2011_2p76TeV_jet_antiktr04_incljetpt_eta2.txt
        [G] ATLAS 2011 2.76TeV Inclusive Jet Pt R04 ETA2 - NLOJet, Grids/jet/atlas/incljets2011_2p76TeV/nlojet/atlas_2011_2p76TeV_jet_antiktr04_incljetpt_eta2.txt

    [D] ATLAS 2011 2.76TeV Inclusive Jet Pt R04 ETA3, Data/jet/atlas/incljets2011_2p76TeV/atlas_2011_2p76TeV_jet_antiktr04_incljetpt_eta3.txt
        [G] ATLAS 2011 2.76TeV Inclusive Jet Pt R04 ETA3 - NLOJet, Grids/jet/atlas/incljets2011_2p76TeV/nlojet/atlas_2011_2p76TeV_jet_antiktr04_incljetpt_eta3.txt

    [D] ATLAS 2011 2.76TeV Inclusive Jet Pt R04 ETA4, Data/jet/atlas/incljets2011_2p76TeV/atlas_2011_2p76TeV_jet_antiktr04_incljetpt_eta4.txt
        [G] ATLAS 2011 2.76TeV Inclusive Jet Pt R04 ETA4 - NLOJet, Grids/jet/atlas/incljets2011_2p76TeV/nlojet/atlas_2011_2p76TeV_jet_antiktr04_incljetpt_eta4.txt

    [D] ATLAS 2011 2.76TeV Inclusive Jet Pt R04 ETA5, Data/jet/atlas/incljets2011_2p76TeV/atlas_2011_2p76TeV_jet_antiktr04_incljetpt_eta5.txt
        [G] ATLAS 2011 2.76TeV Inclusive Jet Pt R04 ETA5 - NLOJet, Grids/jet/atlas/incljets2011_2p76TeV/nlojet/atlas_2011_2p76TeV_jet_antiktr04_incljetpt_eta5.txt

    [D] ATLAS 2011 2.76TeV Inclusive Jet Pt R04 ETA6, Data/jet/atlas/incljets2011_2p76TeV/atlas_2011_2p76TeV_jet_antiktr04_incljetpt_eta6.txt
        [G] ATLAS 2011 2.76TeV Inclusive Jet Pt R04 ETA6 - NLOJet, Grids/jet/atlas/incljets2011_2p76TeV/nlojet/atlas_2011_2p76TeV_jet_antiktr04_incljetpt_eta6.txt


    #2.76TeV R06
    [D] ATLAS 2011 2.76TeV Inclusive Jet Pt R06 ETA1, Data/jet/atlas/incljets2011_2p76TeV/atlas_2011_2p76TeV_jet_antiktr06_incljetpt_eta1.txt
        [G] ATLAS 2011 2.76TeV Inclusive Jet Pt R06 ETA1 - NLOJet, Grids/jet/atlas/incljets2011_2p76TeV/nlojet/atlas_2011_2p76TeV_jet_antiktr06_incljetpt_eta1.txt

    [D] ATLAS 2011 2.76TeV Inclusive Jet Pt R06 ETA2, Data/jet/atlas/incljets2011_2p76TeV/atlas_2011_2p76TeV_jet_antiktr06_incljetpt_eta2.txt
        [G] ATLAS 2011 2.76TeV Inclusive Jet Pt R06 ETA2 - NLOJet, Grids/jet/atlas/incljets2011_2p76TeV/nlojet/atlas_2011_2p76TeV_jet_antiktr06_incljetpt_eta2.txt

    [D] ATLAS 2011 2.76TeV Inclusive Jet Pt R06 ETA3, Data/jet/atlas/incljets2011_2p76TeV/atlas_2011_2p76TeV_jet_antiktr06_incljetpt_eta3.txt
        [G] ATLAS 2011 2.76TeV Inclusive Jet Pt R06 ETA3 - NLOJet, Grids/jet/atlas/incljets2011_2p76TeV/nlojet/atlas_2011_2p76TeV_jet_antiktr06_incljetpt_eta3.txt

    [D] ATLAS 2011 2.76TeV Inclusive Jet Pt R06 ETA4, Data/jet/atlas/incljets2011_2p76TeV/atlas_2011_2p76TeV_jet_antiktr06_incljetpt_eta4.txt
        [G] ATLAS 2011 2.76TeV Inclusive Jet Pt R06 ETA4 - NLOJet, Grids/jet/atlas/incljets2011_2p76TeV/nlojet/atlas_2011_2p76TeV_jet_antiktr06_incljetpt_eta4.txt

    [D] ATLAS 2011 2.76TeV Inclusive Jet Pt R06 ETA5, Data/jet/atlas/incljets2011_2p76TeV/atlas_2011_2p76TeV_jet_antiktr06_incljetpt_eta5.txt
        [G] ATLAS 2011 2.76TeV Inclusive Jet Pt R06 ETA5 - NLOJet, Grids/jet/atlas/incljets2011_2p76TeV/nlojet/atlas_2011_2p76TeV_jet_antiktr06_incljetpt_eta5.txt

    [D] ATLAS 2011 2.76TeV Inclusive Jet Pt R06 ETA6, Data/jet/atlas/incljets2011_2p76TeV/atlas_2011_2p76TeV_jet_antiktr06_incljetpt_eta6.txt
        [G] ATLAS 2011 2.76TeV Inclusive Jet Pt R06 ETA6 - NLOJet, Grids/jet/atlas/incljets2011_2p76TeV/nlojet/atlas_2011_2p76TeV_jet_antiktr06_incljetpt_eta6.txt

[O] Top
    [D] ATLAS 2011 Top Partons Mtt, Data/top/atlas/ttbarresolvedpartons/atlas_2011_top_partons_mtt.txt
        [G] ATLAS 2011 Top Partons Mtt - MCFM, Grids/top/atlas/mcfm/ttbarresolvedpartons/atlas_2011_top_partons_mtt.txt

    [D] ATLAS 2011 Top Partons Pt Top, Data/top/atlas/ttbarresolvedpartons/atlas_2011_top_partons_pttop.txt
        [G] ATLAS 2011 Top Partons Pt Top - MCFM, Grids/top/atlas/mcfm/ttbarresolvedpartons/atlas_2011_top_partons_pttop.txt

    [D] ATLAS 2011 Top Partons TTbar Pt, Data/top/atlas/ttbarresolvedpartons/atlas_2011_top_partons_ttbarpt.txt
        [G] ATLAS 2011 Top Partons TTbar Pt - MCFM, Grids/top/atlas/mcfm/ttbarresolvedpartons/atlas_2011_top_partons_ttbarpt.txt

    [D] ATLAS 2011 Top Partons TTbar Y, Data/top/atlas/ttbarresolvedpartons/atlas_2011_top_partons_ttbary.txt
        [G] ATLAS 2011 Top Partons TTbar Y - MCFM, Grids/top/atlas/mcfm/ttbarresolvedpartons/atlas_2011_top_partons_ttbary.txt
