# Configuration file for Pre-defined plots
#
# Format:
# Full Path (relative to root dir), Display Name
Steering/atlas_inclZ2010.txt, ATLAS Inclusive Z 2010
Steering/atlas_incljet2011.txt, ATLAS Inclusive Jets 2011
Steering/atlas_incljet2011_2p76TeV.txt, ATLAS Inclusive Jets 2011 (2.76TeV)
Steering/atlas_incljet_all.txt, ATLAS Inclusive Jets 2011 (All)
Steering/test_atlas_incljet2011.txt, ATLAS Inclusive Jets 2011 (TEST)
Steering/atlas_topnjets.txt, ATLAS Top N Jets
Steering/atlas_topparton_mtt.txt, ATLAS Top Parton Mtt
Steering/atlas_topparton_pttop.txt, ATLAS Top Parton Pt Top
Steering/atlas_topparton_ttbarpt.txt, ATLAS Top Parton TTbar Pt
Steering/atlas_topparton_ttbary.txt, ATLAS Top Parton TTbar Y
